#ip of the osmosis server passed to inaugurator - should be the inside ip address of osmosis object store if possible
OSMOSIS_SERVER_IP: 127.0.0.1
# the public nat that connects the rack to your network. it is the same ip of the rackattack server if they are the same server, but they might not be.
# if left empty, then this means that the network is routable (and not behind a NAT), so the test clients connect using their ip address in the network.
PUBLIC_NAT_IP: 192.168.1.2
# the iptables rules will find the name of the public nic if you specify its mac here. not very useful if the nat is not the same server.
# you can also have the nic name here, but it's less reliable
PUBLIC_INTERFACE: "00:1e:67:44:13:a1"
# the following two parametere define the subnet used for the nodes. note that the provider and all other "provider" servers (osmosis, nat, etc.), that are in this network, have to be configured with this subnet as well.
NODES_SUBNET_PREFIX_LENGTH: 22
# ip of the first node in the range of nodes. this must not be the first ip in the subnet, since the subnet has to contain an address for the "provider" servers as well. the range from the first ip in the subnet until (not including) this address, is the reserved range for "provider" servers.
FIRST_IP: 192.168.1.11
# IP address of the rackattack provider which provides the DHCP, PXE and inaugurator. this must be within the nodes subnet, but lower than `FIRST_IP` (lower than the address of the first node). Note: When installing Rackattack inside a Docker container, this address musn't already exist in the network, since it will be assigned to the newly created container.
BOOTSERVER_IP: 192.168.1.1
# gateway used by the nodes (passed to the inaugurator). Must be within the nodes subnet, but lower than the IP of the first node.
GATEWAY_IP: 192.168.1.2
# whether to allow clearing of node's disk after a number of failed cold reclamations
ALLOW_CLEARING_OF_DISK: false
# Only relevent when installing Rackattack inside a Docker container: The name of the network interface,
# in the docker host (not the container itself, but the host that 'wraps' the container),
# which is connected to the nodes.
INNER_INTERFACE_NAME_IN_DOCKER_HOST: UNDEFINED
# Only relevent when installing Rackattack inside a Docker container: The IP address associated with the
# docker host in the network interface which is connected to the nodes.
INNER_INTERFACE_IP_IN_DOCKER_HOST: UNDEFINED
# This tells Rackattack wheather the BMC  handles IPMI commands synchronously. Some BMCs have an asynchronous feedback (the ipmitool command finishes but it takes a few seconds until it the command is actually executed). An invalid setting can cause Rackattack to mishandle servers, in case it is set to 'true', but the BMC actually works asynchronously; Servers might not reach the 'checked in' state. The preferred value is 'true', since it is a bit faster, but if you're not sure as to the nature of the BMCs, set it to 'false'.
ARE_IPMI_COMMANDS_SYNCHRONOUS: false
